@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
 
}

h1 {
  color: aliceblue;
}

